


/* find/search element */
.fnd {
	position: relative;
}

.fnd input[type="text"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 8px 40px 8px 44px;
	margin: 4px auto 12px;
	text-align: left;
	border-radius: 21px;
	background: var(--c-2);
	border: 1px solid var(--c-3);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.fnd input[type="text"]:focus {
	background-color: var(--c-4);
}

.fnd input[type="text"]:not(:placeholder-shown),
.fnd input[type="text"]:hover {
	background-color: var(--c-3);
}

#fxFind.fnd input[type="text"] {
	margin-bottom: 0;
}
#fxFind {
	margin-bottom: 12px;
}

/* segment & preset inner/expanded content */
.segin,
.presin {
	padding: 8px;
	position: relative;
}

.presin {
	width: 100%; 
	box-sizing: border-box;
}

.btn-s,
.btn-n {
	border: 1px solid var(--c-2);
	background-color: var(--c-2);
}
.modal .btn:hover,
.segin .btn:hover {
	border: 1px solid var(--c-5) /*!important*/;
	background-color: var(--c-5) /*!important*/;
}

/* hidden list items, must be after .expanded */
.pres .lstIcontent, .segin {
	display: none;
}

.check input:checked ~ .checkmark:after,
.radio input:checked ~ .radiomark:after,
.show,
.expanded .edit-icon,
.expanded .segin, .expanded .presin, .expanded .sbs,
.expanded {
	display: inline-block !important;
}
.hide, .expanded .segin.hide, .expanded .presin.hide, .expanded .sbs.hide, .expanded .frz, .expanded .g-icon {
	display: none !important;
}

.m6 {
	margin: 6px 0;
}

.c {
	text-align: center;
}

.po2 {
	display: none;
	margin-top: 8px;
}

.pwarn {
	color: red;
}

/* horizontal divider (playlist entries) */
.hrz {
	width: auto;
	height: 2px;
	background-color: var(--c-b);
	margin: 3px 0;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--c-sb);
	opacity: .2;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--c-sbh);
}

@media not all and (hover: none) {
	.sliderwrap:hover + output.sliderbubble {
		visibility: visible;
		opacity: 1;
	}
}

@media all and (max-width: 1023px) {
	.top button {
		width: 8%;
		padding: 10px 0 8px 0;
	}
	#buttonPcm {
		display: none;
	}
}

@media all and (max-width: 335px) {
	.sliderbubble {
		display: none;
  	}
}



@media all and (max-width: 639px) {
	.top button {
		width: 16.6%;
		padding: 8px 0 4px 0;
	}
	#briwrap {
		margin: 0 auto !important;
		float: none;
		display: inline-block;
	}
	.hd {
		display: none !important;
	}
}

@media all and (min-width: 420px) and (max-width: 639px) {
	.top button {
		width: 14.28%;
		padding: 8px 0 4px 0;
	}
}


/* small screen & tablet "PC mode" support */
@media all and (min-width: 1024px) and (max-width: 1249px) {
	#segutil, #segutil2, #segcont, #putil, #pcont, #pql, #fx, #palw, #psFind, #sliders {
		width: 100%;
		max-width: 280px;
		font-size: 18px;
	}
	#putil .btn-s {
		width: 114px;
	}
	#sliders .sliderbubble {
		display: none;
	}
	#sliders .sliderwrap, .sbs .sliderwrap {
		width: calc(100% - 42px);
	}
	#sliders .slider {
		padding-right: 0;
	}
	#sliders .sliderwrap {
		left: 12px;
	}
	.segname {
		max-width: calc(100% - 110px);
	}
	.segt TD {
		padding: 0 !important;
	}
	input[type="number"], input[type=text], select, textarea {
		font-size: 18px;
	}
	input[type="number"] {
		width: 32px;
	}
	.lstIcontent {
		padding-left: 8px;
	}
	.revchkl {
		max-width: 183px;
		text-overflow: ellipsis;
		overflow-x: clip;
	}
}


